
.logo {
    margin-right: 10px;
    height: 6rem;
}


.boton strong {
    color: rgb(1, 26, 49);
}


.helloGuest {
    display: flex;
    justify-content: end;
    font-weight: 600;
    padding: 10px;
}
