.container {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    padding-bottom: 20px;
    padding-left: 5rem;
    padding-right: 5rem;
    
}

@media screen and (max-width: 700px) {
    .container {
        padding-left: 1rem;
        padding-right: 2rem;
    }
  }